<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Add Food</title>
  <link rel="stylesheet" href="/foodTracker/public/addFood.css">
 
</head>
<body>
  <div class="container">
    <h1>Add Food Page</h1>

    <form action="/addFood" method="POST">
      <label for="dateFood">Date:</label>
      <input type="date" id="dateFood" name="dateFood" required>

      <label for="category">Category:</label>
      <select id="category" name="cat" required>
        <option value="" disabled selected>Select Category</option>
        <option value="Breakfast">Breakfast</option>
        <option value="Lunch">Lunch</option>
        <option value="Dinner">Dinner</option>
      </select>

      <label for="foodInput">Food:</label>
      <input name="insertFood" type="text" id="foodInput" required>

      <button type="submit">Enter Food</button>
    </form>

    <a href="/home"><button>Home</button></a>
    <a href="/logout"><button>Logout</button></a>
  </div>

  <script>
    window.onload = function () {
      const today = new Date();
      const yyyy = today.getFullYear();
      const mm = String(today.getMonth() + 1).padStart(2, '0');
      const dd = String(today.getDate()).padStart(2, '0');
      const formattedDate = `${yyyy}-${mm}-${dd}`;
      document.getElementById('dateFood').value = formattedDate;
    };
  </script>
</body>
</html>
