<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Food</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</head>
<body style="background-color: pink;">
    <h1 style="text-align: center;">Add Food Page</h1>
>

    <form action="/addFood" method="POST">
        <div style="text-align: center;">
        <label style="text-align: center;" for="dateFood">Date:</label><br>
        <input style="text-align: center;" type="date" id="dateFood" name="dateFood"><br>

        </div>
        <div class="form-group">
            <label style="text-align:center;" for="exampleFormControlSelect1">Category:</label>
            <select style="text-align: center;" class="form-control" id="exampleFormControlSelect1" name="cat">
              <option value="" disabled selected>Select Category</option>
              <option value="Breakfast">Breakfast</option>
              <option value="Lunch">Lunch</option>
              <option value="Dinner">Dinner</option>
            </select>
          </div>
        <div class="form-group">
            <label  for="exampleFormControlInput1">Food</label>
            <input  name="insertFood" style="text-align: center;" type="text" class="form-control" id="exampleFormControlInput1" >
          </div>
        
          <button style="text-align: center;"> ENTER FOOD</button>
      </form>


    <script>
        window.onload = function() {
            const today = new Date();
            const yyyy = today.getFullYear();
            const mm = String(today.getMonth() + 1).padStart(2, '0'); 
            const dd = String(today.getDate()).padStart(2, '0');
            const formattedDate = `${yyyy}-${mm}-${dd}`;
            document.getElementById('dateFood').value = formattedDate;
        };
    </script>
</body>
</html>
