<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    MEAL ADD PAGE
<br>
Meal:
<select name="meal" id="mealAddID">
    <option value="breakfast">Breakfast</option>
    <option value="lunch">Lunch</option>
    <option value="dinner">Dinner</option>
    <option value="snack">Snack</option>
  </select>
<!-- so then for index.mjs we need to get the value of the dropdown and add it to the database -->


<button>+ Add Meal</button>
<br>
<br>
after pressing the add meal button
<br>
a pop up will show to enter the food? and we'll have the information about the food (Protein, carbs, fats)
</body>
</html>