<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    MEAL ADD PAGE
<br>
Meal Name  <input type="text" name="meal_name" value=""><br> breakfast, lunch, dinner, snacks (Delete this later probably. Those are just the options)

<button>+ Add Meal</button>
</body>
</html>