  <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Home - Food Tracker</title>
  <link rel="stylesheet" href="/foodTracker/public/home.css">
</head>
<body>
  <div class="container">
    <header>
      <h1>🍎 Welcome to Your Food Tracker</h1>
    </header>

    <nav>
      <a href="/addFood" class="nav-button">Log a Meal</a>
      <a href="/mealHistory" class="nav-button">View Meal History</a>
      <a href="logout" class="nav-button">Logout</a>
    </nav>

    <section class="overview">
      <h2>Today's Snapshot</h2>
      <p>Date: <%= new Date().toLocaleDateString() %></p>
      <p>Total Calories Today: <%= totalCalories %> kcal</p>


    </section>
    <div class="quote-author" id="quote"></div>

    <button id="new-quote" class="nav-button">🔁 New Quote</button>

    <footer>
      &copy; 2025 Food Tracker App
    </footer>
  </div>


<script>
  async function fetchQuote() {
      let url = "https://api.api-ninjas.com/v1/quotes";
      let response = await fetch(url, {
        method: "GET",
        headers: {
          "X-Api-Key": "e55ujx2dKBr8MTVnweDo6CP6w2M7kimIyHvAvyJE",
          "Content-Type": "application/json"
        }
      });

      let data = await response.json();
      let quoteData = data[0];

      console.log(data);
      document.getElementById("quote").innerHTML = `"${quoteData.quote}"<br><em>— ${quoteData.author}</em>`;
  }

  window.addEventListener('DOMContentLoaded', () => {
    fetchQuote();
    document.getElementById('new-quote').addEventListener('click', fetchQuote);
  });
</script>


</body>
</html>
