<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    HOME

    <a href="/addFood"><button>Add Food</button></a>
    <a href = "/mealHistory"><button>Meal History</button></a>
</body>
</html>