<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Screen</title>
  <link rel="stylesheet" href="/foodTracker/public/login.css">
</head>
<body>
  <div class="login-container">
    <h2>User Login</h2>
    <form method="POST" action="/login">
      <div class="form-group">
        <label for="username">User</label>
        <input type="text" name="username" id="username" placeholder="Enter your user" required>
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" name="password" id="password" placeholder="Enter your password" required>
      </div>

      <div class="form-group">
        <a href="#!">Forgot password?</a>
      </div>

      <button type="submit" class="btn">Login</button>

      <div class="social-links">
        <a href="#!"><i class="fab fa-facebook-f"></i></a>
        <a href="#!"><i class="fab fa-twitter"></i></a>
        <a href="#!"><i class="fab fa-google"></i></a>
      </div>

      <div class="sign-up-link">
        <p>Don't have an account? <a href="/signUp">Sign Up</a></p>
      </div>
    </form>
    
    <% if (typeof(error) != "undefined") { %>
      <div style="color: red; text-align: center;">
        <%= error %>
      </div>
    <% } %>
  </div>

  <script src="/foodTracker/public/js/login.js"></script>
</body>
</html>
