<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meal History</title>
</head>
<body>
    <h1>Meals for: <%= date || "Select a date" %></h1>

 
    
    <form action="/mealHistory" method="GET">
        <label for="date">Choose a date:</label>
        <input type="date" id="date" name="date" required>
        <button type="submit">Show Meals</button>
    </form>

    <!-- breakfast -->
    <% if (meals.breakfast && meals.breakfast.length > 0) { %>
        <h2>Breakfast</h2>
        <ul>
            <% meals.breakfast.forEach(meal => { %>
                <li><%= meal.meal %></li>
            <% }); %>
        </ul>
    <% } else { %>
        <p>No breakfast meals found for this date.</p>
    <% } %>

    <!-- lunch -->
    <% if (meals.lunch && meals.lunch.length > 0) { %>
        <h2>Lunch</h2>
        <ul>
            <% meals.lunch.forEach(meal => { %>
                <li><%= meal.meal %> </li>
            <% }); %>
        </ul>
    <% } else { %>
        <p>No lunch meals found for this date.</p>
    <% } %>

    <!-- dinner -->
    <% if (meals.dinner && meals.dinner.length > 0) { %>
        <h2>Dinner</h2>
        <ul>
            <% meals.dinner.forEach(meal => { %>
                <li><%= meal.meal %></li>
            <% }); %>
        </ul>
    <% } else { %>
        <p>No dinner meals found for this date.</p>
    <% } %>


    <a href="/home"><button>Home</button></a>
    <a href="/logout"><button>Logout</button></a>
</body>
</html>
