<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
</head>
<body>
    <form action="/signup" method="POST">
        First Name: <input type="text" name="firstName" placeholder="First Name" required />
        <br>
        Last Name: <input type="text" name="lastName" placeholder="Last Name" required />
        <br>

        Username: <input type="text" name="username" placeholder="Username" required />
        <br>

        Password: <input type="password" name="password" placeholder="Password" required />
        <br>

        Age: <input type="number" name="age" placeholder="Age" required />
        <br>

        Gender:
        <input type="radio" id="genderM" name="gender" value="M">
        <label for="genderM">M</label>
        <input type="radio" id="genderF" name="gender" value="F">
        <label for="genderF">F</label>
        <br><br>

        <button type="submit">Sign Up</button>
    </form>

    <script src="/foodTracker/public/js/signUp.js"></script>
</body>
</html>
